<% content_for :header do %>
<header class="bg-cover bg-center relative bg-no-repeat" style="background-image: url(<%= asset_url("fusion.png") %>);" data-controller="nav">
  <div class="dark:bg-slate-900">
    <%= render "shared/nav_menu" %>
  </div>
  <div class="container mx-auto sm:py-24 pb-10 px-4 relative z-10 flex flex-wrap items-center justify-between">
    <div class="xl:w-2/5 w-full xl:text-left text-center xl:pr-16">
      <h1 class="text-5xl font-extrabold text-slate-900 dark:text-slate-100 tracking-tight">Tavelling with Arthur</h1>
      <p class="my-6 text-slate-700 dark:text-slate-400 text-lg"> I am a traveller seaking to share my experiences.</p>
      <div class="xl:flex grid grid-cols-1 gap-4">
        <%= link_to "Join our team", "#", class: "btn btn-primary btn-lg" %>
      </div>
    </div>
    <div class="xl:w-3/5 w-full xl:my-0 mt-6 mb-10">
      <div class="flex justify-center relative">
        <%= image_tag "ipanema.jpg", alt: "Team", class: "max-w-full xl:max-w-2xl 2xl:max-w-3xl object-cover rounded-3xl relative z-20 shadow-2xl shadow-slate-500/20" %>
        <div
          class="w-[650px] h-[650px] bg-primary-500/10 absolute -bottom-10 left-5 rounded-full z-0 blur-2xl sm:block hidden">
        </div>
        <div
          class="w-[450px] h-[450px] bg-pink-500/10 absolute -top-10 left-5 rounded-full z-0 blur-2xl sm:block hidden">
        </div>
      </div>
    </div>
  </div>
</header>
<% end %>

<div class="container mx-auto sm:px-16 sm:px-16 px-4 lg:py-24 pb-16 pt-0">
  <div class="flex flex-wrap items-center justify-between">
    <div class="lg:w-1/2 w-full">
      <span class="block w-20 bg-slate-300 dark:bg-slate-700 h-px"></span>
      <h2 class="text-3xl font-extrabold text-slate-900 dark:text-slate-100 tracking-tight pt-10">The challenges that lie ahead</h2>
      <div class="max-w-lg mt-6 prose prose-primary dark:prose-invert">
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean eu leo quam. Pellentesque ornare sem
          lacinia quam venenatis vestibulum. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non
          commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Integer posuere erat a ante
          venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper.</p>
        <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Cras justo odio, dapibus ac
          facilisis in, egestas eget quam. Maecenas sed diam eget risus varius blandit sit amet non magna. Curabitur
          blandit tempus porttitor.</p>
        <%= link_to "#" do %>
          <span>View open roles</span>
          <%= icon "chevron-right", classes: "group-hover:transform group-hover:translate-x-1 group-hover:transition-transform group-hover:duration-300 ml-2 w-2 h-2 fill-current transform transition duration-300", variant: :solid %>
        <% end %>
      </div>
    </div>
    <div class="lg:w-1/2 w-full">
      <%= image_tag "challenges.png", alt: "Challenges", class: "max-w-full h-auto w-full" %>
    </div>
  </div>
</div>


